<nav id="navbar">
	<a class="logo" href="/">
		<img src="/img/dragon-quest-iv.png" alt="Logo">
	</a>
	<ul>
		<li><a href="/heroes">Heroes</a></li>
		<li><a href="/monsters">Monsters</a></li>
		<li><a href="/items">Items</a></li>
		<li><a href="/spells">Skills</a></li>
	</ul>
	<div>

	</div>
</nav>