<nav id="navbar">
    <div>
        <a href="/">
            <img src="/img/monsters/1.png" alt="Logo">
        </a>
    </div>
    <div>
        <!-- <ul>
            <li><a href="/">Heroes</a></li>
            <li><a href="/">Monsters</a></li>
            <li><a href="/">Items</a></li>
        </ul> -->
    </div>
    <div>

    </div>
</nav>