<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Next Level Calculator | Dragon Quest IV</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Arithmetic_symbols.svg/800px-Arithmetic_symbols.svg.png">
</head>
<body>
	<form onSubmit="return false;">
		<h1 title="Find the exp you need for the next level">Get Next Level</h1>
		<p id="error-msg">msg</p>
		<input class="current-exp" type="number" placeholder="Current exp" title="Insert the current exp">
		<button id="add-box-btn" title="Add a new character">+</button>
		<div class="buttons-box">
			<input id="empty" type="submit" value="Empty" title="Empty all experience inputs">
			<input id="send" type="submit" value="Calculate" title="Add the current exp to the required exp">
		</div>
	</form>
</body>
<script>
	const currentExp = document.querySelector(".current-exp");
	const errorMsg = document.querySelector("#error-msg");
	let boxesAdded = 0;

	const addBox = () => {
		boxesAdded += 1;
		const div = document.createElement("div");
		div.classList.add("box");

		const deleteBtn = document.createElement("button");
		deleteBtn.classList.add("delete-btn");
		deleteBtn.addEventListener("click", ()=> {
			document.querySelector("form").removeChild(div);
		});
		deleteBtn.setAttribute("title", "Delete this character");

		const inputName = document.createElement("input");
		inputName.classList.add("chara-name");
		inputName.setAttribute("type", "text");
		inputName.setAttribute("placeholder", "Character's name");
		inputName.setAttribute("title", "Insert the character's name\nex: Alena, Psaro, Torneko");

		const inputExp = document.createElement("input");
		inputExp.classList.add("required-exp");
		inputExp.setAttribute("type", "number");
		inputExp.setAttribute("placeholder", "Required exp");
		inputExp.setAttribute("title", "Insert the exp this character requires to reach the next level\nex: 37400");

		const result = document.createElement("span");
		result.classList.add("result");

		div.appendChild(deleteBtn);
		div.appendChild(inputName);
		div.appendChild(inputExp);
		div.appendChild(result);
		
		document.querySelector("form").insertBefore(div, document.querySelector("#add-box-btn"));
	}

	const updateResults = () => {
		document.querySelectorAll(".required-exp").forEach((requiredExp, i) => {
			if (!currentExp.value && !Number.isInteger(parseInt(currentExp.value))){
				errorMsg.style.visibility = "visible";
				errorMsg.style.opacity = "1";
				errorMsg.innerText = "Current exp is not set.";
				currentExp.style.backgroundColor = "#ed4956";
				setTimeout(() => {
					errorMsg.style.visibility = "hidden";
					errorMsg.style.opacity = "0";
					currentExp.style.backgroundColor = "#fefefe";
				}, 2000);
				return false;
			};
			const value = parseInt(requiredExp.value);
			if (requiredExp.value && Number.isInteger(value)){
				console.log(`${i} : ${document.querySelectorAll(".chara-name")[i].value} : ${value}`);
				const result = document.querySelectorAll(".result")[i];
				result.style.display = "block";
				result.innerText = `${parseInt(currentExp.value) + value}`;
			};
		});
	};

	const emptyPage = () => {
		currentExp.value = '';
		document.querySelectorAll(".required-exp").forEach(e => e.value = '');
		document.querySelectorAll(".result").forEach(e => {
			e.style.display = "none";
			e.innerText = '';
		});
	}

	document.querySelector("#send").addEventListener("click", updateResults);
	document.querySelector("#add-box-btn").addEventListener("click", addBox);
	document.querySelector("#empty").addEventListener("click", emptyPage);

	addBox();
</script>
</html>