:root{
	--dark : #1E1E1E;
    --dark2 : #333;

    --light : #858585;
    --light2 : #c4c4c4;

    --white : #FEFEFE;

    --red : #CE9178;
    --green : #16825D;
    --blue : #007ACC;
}

html{
    min-height: 100%;
    padding: 8rem 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--dark);
}

form{
    display: flex;
    flex-flow: column nowrap;
    padding: 2.4rem;
    box-shadow: #1E1E1E33 1px 1px 8px;
    background-color: var(--dark2);
}

.box {
    display: flex;
    flex-flow: column nowrap;
    margin: .8rem .4rem;
    padding: .4rem;
    background-color: var(--light);
    border-radius: .4rem;
}

input{
    padding: .8rem;
    margin: .4rem;
    background-color: var(--dark);
    color: var(--white);
    border: none;
    border-radius: .4rem;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}

.btn-box{
    display: flex;
    justify-content: space-around;
}

input[type="submit"]{
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: .4rem;
    opacity: .5;
    cursor: pointer;
}
input[type="submit"]:hover{
    opacity: 1;
}
#empty{
    background-color: var(--red);
}
#send{
    background-color: var(--blue);
}

#error-msg{
    visibility: hidden;
    opacity: 0;
    background-color: var(--red);
    padding: .8rem;
    color: var(--white);
    transition: all .3s ease-in-out;
}

.result{
    display: none;
    padding: .8rem;
    margin: .4rem;
    border: none;
    border-radius: .4rem;
    background-color : var(--green);
    color: var(--white);
    font-weight: bold;
}



.delete-btn{
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    margin: .4rem;
    background-color: var(--light2);
    color: var(--white);
    border: none;
    border-radius: .4rem;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Breezeicons-places-16-user-trash.svg/800px-Breezeicons-places-16-user-trash.svg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(200%);
    cursor: pointer;
}