:root {
	--dark : #1E1E1E;
	--dark2 : #333;

	--light : #858585;
	--light2 : #c4c4c4;

	--white : #FEFEFE;

	--red : #CE9178;
	--red-hover : #dfb2a0;
	--green : #16825D;
	--green-hover : #24cc91;
	--blue : #007ACC;
	--blue-hover : #4ea1d8;
}

html {
	min-height: 100%;
	padding: 8rem 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: var(--dark);
}

form {
	display: flex;
	flex-flow: column nowrap;
	padding: 2.4rem;
	box-shadow: #1E1E1E33 1px 1px 8px;
	background-color: var(--dark2);
}
	form h1{
		color: var(--white);
		text-align: center;
	}
	#error-msg {
		visibility: hidden;
		opacity: 0;
		background-color: var(--red);
		padding: .8rem;
		color: var(--white);
		transition: all .3s ease-in-out;
	}

	.box {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		margin: .8rem .4rem;
		padding: .4rem;
		background-color: var(--light);
		border-radius: .4rem;
	}

		input {
			padding: .8rem;
			margin: .4rem;
			background-color: var(--dark);
			color: var(--white);
			border: none;
			border-radius: .4rem;
		}
		input[type="number"] {
			-webkit-appearance: textfield !important;
			-moz-appearance: textfield !important;
		}
		.result {
			display: none;
			padding: .8rem;
			margin: .4rem;
			border: none;
			border-radius: .4rem;
			background-color : var(--green);
			color: var(--white);
			font-weight: bold;
		}
		.delete-btn {
			display: flex;
			width: 1.8rem;
			height: 1.8rem;
			margin: .4rem;
			background-color: var(--red);
			color: var(--white);
			border: none;
			border-radius: 50%;
			background-image: url("/img/delete.svg");
			background-size: 50%;
			background-position: center;
			background-repeat: no-repeat;
			backdrop-filter: brightness(2);
			cursor: pointer;
		}
		.delete-btn:hover{
			background-color: var(--red-hover);
		}
	
	form hr {
		margin: .8rem .4rem;
		border: solid .5px var(--light);
		background-color: var(--light);
	}

	#add-box-btn {
		padding: .2rem;
		margin: .8rem .4rem;
		background-color: inherit;
		color: var(--light2);
		font-weight: bold;
		border: solid .2rem var(--light2);
		border-radius: .4rem;
		cursor: pointer;
		transition: all .1s ease-in-out;
	}
	#add-box-btn:hover{
		background-color: #fefefe33;
	}

	.buttons-box {
		display: flex;
		margin: .8rem .4rem;
		justify-content: space-around;
	}
		.buttons-box input[type="submit"] {
			color: var(--white);
			font-weight: bold;
			border: none;
			border-radius: .4rem;
			cursor: pointer;
			flex-basis: 50%;
		}
		#empty {
			background-color: var(--red);
		}
		#empty:hover{
			background-color: var(--red-hover);
		}
		#send {
			background-color: var(--blue);
		}
		#send:hover{
			background-color: var(--blue-hover);
		}